In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Data from http://www.spotrac.com/nba/contracts/
# Initial Analysis
current_contracts = 'NBA_current_contracts.csv'
df = pd.read_csv(current_contracts, encoding = "ISO-8859-1")
df.columns
df.shape
df.info()
df.describe()

#Column Value Count
column_value_count = [df[column_label].value_counts(dropna=False)
                     for column_label in df.columns]
print(column_value_count)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 560 entries, 0 to 559
Data columns (total 10 columns):
PLAYER         560 non-null object
POS            560 non-null object
TEAM           560 non-null object
AGE            560 non-null int64
YRS            560 non-null int64
DOLLARS        560 non-null object
GUARANTEED     560 non-null object
% GTD          560 non-null object
AVG. SALARY    560 non-null object
FREE AGENT     560 non-null int64
dtypes: int64(3), object(7)
memory usage: 43.8+ KB
[Jaylen Johnson (2017-2017)         1
Ben McLemore (2017-2018)           1
Willie Reed (2017-2017)            1
Daniel Ochefu (2016-2018)          1
K.J. McDaniels (2017-2017)         1
Abdel Nader (2017-2019)            1
Andrew Harrison (2016-2018)        1
Tony Allen (2017-2017)             1
Malcom Delaney (2016-2017)         1
Tim Quarterman (2016-2017)         1
Shaun Livingston (2017-2019)       1
Shabazz Muhammad (2017-2018)       1
Kevin Love (2015-2019)             1
Jaylen Brown (2016-2017)           1
John Henson (2016-2019)            1
Dennis Smith Jr. (2017-2018)       1
Lonzo Ball (2017-2018)             1
Gary Harris (2014-2017)            1
Shane Larkin (2017-2017)           1
Boban Marjanovic (2016-2018)       1
Christapher Johnson (2017-2017)    1
Jarrett Allen (2017-2018)          1
Tyson Chandler (2015-2018)         1
Sheldon McLellan (2016-2017)       1
T.J. Warren (2018-2021)            1
Georges Niang (2017-2017)          1
Josh Jackson (2017-2018)           1
Jawun Evans (2017-2018)            1
Naz Long (2017-2017)               1
Sindarius Thornwell (2017-2019)    1
                                  ..
Trevor Booker (2016-2017)          1
Kris Dunn (2016-2017)              1
John Jenkins (2017-2017)           1
Al Jefferson (2016-2018)           1
James Harden (2019-2022)           1
Luke Petrasek (2017-2017)          1
Kyle O'Quinn (2015-2018)           1
Larry Drew II (2017-2017)          1
Davon Reed (2017-2020)             1
Tyler Cavanaugh (2017-2017)        1
Dante Cunningham (2017-2017)       1
Langston Galloway (2017-2019)      1
Kevon Looney (2015-2017)           1
George Hill (2017-2019)            1
Joe Johnson (2016-2017)            1
Bojan Bogdanovic (2017-2018)       1
George De Paula (2017-2017)        1
Troy Williams (2017-2019)          1
Nik Stauskas (2014-2017)           1
Gorgui Dieng (2017-2020)           1
Elijah Millsap (2016-2017)         1
Semi Ojeleye (2017-2020)           1
James Blackmon Jr. (2017-2017)     1
Devin Booker (2015-2017)           1
John Collins (2017-2018)           1
Tony Parker (2015-2017)            1
Ian Clark (2017-2017)              1
Mario Chalmers (2017-2017)         1
Antonius Cleveland (2017-2017)     1
Wesley Johnson (2016-2018)         1
Name: PLAYER, Length: 560, dtype: int64, SG    123
PG    118
PF    117
SF    106
C      79
G      10
F       7
Name: POS, dtype: int64, MIL                20
GSW                20
CHA                19
CLE                19
OKC                18
MIA                18
LAL                18
NOP                17
PHI                17
MEM                17
TOR                17
ORL                17
SAC                17
SAS                17
PHX                17
HOU                17
UTH                16
ATL                16
WAS                16
NYK                16
DAL                16
BKN                15
BOS                15
DEN                15
DET                15
MIN                14
IND                14
POR                14
LAC                13
CHI                11
                   ..
HOUSigned w/WAS     1
TORSigned w/IND     1
DALSigned w/MIA     1
HOUSigned w/POR     1
INDSigned w/BKN     1
PHISigned w/DAL     1
UTHSigned w/MIN     1
MINSigned w/CLE     1
LACSigned w/DEN     1
WASSigned w/BKN     1
NYKSigned w/OKC     1
MIASigned w/DAL     1
CLESigned w/ATL     1
PORSigned w/CHA     1
HOUSigned w/LAC     1
PHISigned w/SAC     1
DALSigned w/PHI     1
ATLSigned w/SAC     1
CHASigned w/ATL     1
WASSigned w/UTH     1
CHISigned w/LAL     1
UTHSigned w/LAC     1
ATLSigned w/DAL     1
DENSigned w/UTH     1
SACSigned w/NOP     1
PHXSigned w/CHA     1
OKCSigned w/IND     1
CLESigned w/ORL     1
DETSigned w/BOS     1
WASSigned w/PHX     1
Name: TEAM, Length: 92, dtype: int64, 24    56
22    52
23    52
25    45
27    39
28    37
21    37
26    37
29    36
20    26
31    25
32    23
30    20
19    15
0     15
33    11
35     8
36     8
37     8
34     5
40     3
39     1
18     1
Name: AGE, dtype: int64, 1    152
4    127
3    124
2    124
5     31
0      2
Name: YRS, dtype: int64, $815,615.00        50
$2,328,652.00      20
$1,312,611.00      13
$2,193,857.00      10
$2,498,982.00       8
$1,524,305.00       8
$2,116,955.00       8
$1,577,230.00       7
$1,448,720.00       6
$70,000,000.00      6
$50,000,000.00      6
$21,000,000.00      5
$3,812,377.00       5
$1,471,382.00       5
$48,000,000.00      5
$42,000,000.00      4
$52,000,000.00      4
$64,000,000.00      4
$30,000,000.00      4
$32,000,000.00      4
$20,000,000.00      4
$2,106,470.00       4
$5,000,000.00       4
$100,000,000.00     3
$57,000,000.00      3
$3,290,000.00       3
$127,171,313.00     3
$27,000,000.00      3
$2,414,475.00       3
$2,857,562.00       3
                   ..
$207,798.00         1
$35,475,000.00      1
$2,982,807.00       1
$2,732,546.00       1
$48,003,340.00      1
$85,002,250.00      1
$9,155,400.00       1
$5,864,500.00       1
$10,500,000.00      1
$35,000,000.00      1
$3,300,000.00       1
$10,954,440.00      1
$92,339,878.00      1
$10,436,434.00      1
$6,560,000.00       1
$3,049,680.00       1
$131,805,000.00     1
$3,077,047.00       1
$99,857,127.00      1
$2,710,369.00       1
$3,194,760.00       1
$5,732,760.00       1
$5,923,035.00       1
$3,428,640.00       1
$8,745,120.00       1
$12,415,467.00      1
$2,700,000.00       1
$10,386,049.00      1
$9,725,520.00       1
$2,605,080.00       1
Name: DOLLARS, Length: 344, dtype: int64, -                  93
$2,328,652.00      11
$543,471.00         9
$2,193,857.00       8
$50,000,000.00      7
$815,615.00         6
$50,000.00          6
$70,000,000.00      5
$2,116,955.00       4
$32,000,000.00      4
$48,000,000.00      4
$40,000,000.00      4
$21,000,000.00      4
$64,000,000.00      4
$5,000,000.00       4
$30,000,000.00      3
$127,171,313.00     3
$24,000,000.00      3
$18,000,000.00      3
$41,000,000.00      3
$1,524,305.00       3
$3,290,000.00       3
$4,915,080.00       2
$8,473,305.00       2
$113,211,750.00     2
$42,000,000.00      2
$169,344,000.00     2
$3,597,960.00       2
$1,709,538.00       2
$94,343,126.00      2
                   ..
$8,745,120.00       1
$1,504,736.00       1
$9,155,400.00       1
$2,059,368.00       1
$6,019,920.00       1
$35,000,000.00      1
$1,948,720.00       1
$2,555,511.00       1
$84,789,500.00      1
$13,300,000.00      1
$22,239,712.00      1
$6,337,440.00       1
$12,415,467.00      1
$1,201,607.00       1
$99,857,127.00      1
$2,710,369.00       1
$2,196,393.00       1
$5,732,760.00       1
$43,999,998.00      1
$3,428,640.00       1
$10,386,049.00      1
$618,212.00         1
$14,000,000.00      1
$7,000,000.00       1
$92,339,878.00      1
$10,954,440.00      1
$32,000,002.00      1
$3,300,000.00       1
$410,733.00         1
$5,145.00           1
Name: GUARANTEED, Length: 352, dtype: int64, 100.00%    354
-           93
37.51%       4
57.55%       3
48.78%       3
21.75%       3
50.00%       3
37.18%       3
47.89%       2
3.40%        2
57.97%       2
13.67%       1
64.16%       1
75.97%       1
88.57%       1
90.57%       1
95.05%       1
97.62%       1
62.86%       1
64.79%       1
3.50%        1
94.44%       1
96.15%       1
78.17%       1
81.51%       1
70.18%       1
2.61%        1
65.23%       1
60.04%       1
51.15%       1
          ...
82.29%       1
6.13%        1
41.19%       1
1.75%        1
5.30%        1
66.67%       1
23.75%       1
49.65%       1
74.27%       1
35.39%       1
80.00%       1
14.66%       1
10.38%       1
98.36%       1
27.97%       1
79.21%       1
47.93%       1
48.26%       1
87.23%       1
75.89%       1
60.00%       1
77.98%       1
58.33%       1
0.17%        1
53.34%       1
40.02%       1
98.82%       1
95.65%       1
65.68%       1
9.13%        1
Name: % GTD, Length: 99, dtype: int64, $815,615.00       50
$2,328,652.00     20
$1,312,611.00     13
$1,096,929.00     10
$2,116,955.00      8
$832,994.00        8
$10,500,000.00     7
$1,524,305.00      7
$1,577,230.00      7
$16,000,000.00     7
$10,000,000.00     6
$12,500,000.00     6
$724,360.00        6
$8,000,000.00      6
$12,000,000.00     5
$1,471,382.00      5
$7,000,000.00      5
$14,000,000.00     5
$1,270,792.00      5
$2,500,000.00      4
$13,000,000.00     4
$2,106,470.00      4
$3,290,000.00      3
$1,428,781.00      3
$804,825.00        3
$17,500,000.00     3
$5,000,000.00      3
$6,000,000.00      3
$25,434,263.00     3
$1,798,980.00      2
                  ..
$750,951.00        1
$28,530,608.00     1
$2,045,000.00      1
$6,750,001.00      1
$3,300,000.00      1
$1,222,980.00      1
$1,267,701.00      1
$2,586,720.00      1
$207,798.00        1
$15,700,000.00     1
$4,662,524.00      1
$3,533,333.00      1
$5,332,760.00      1
$18,467,976.00     1
$7,413,237.00      1
$21,250,000.00     1
$1,564,356.00      1
$1,533,480.00      1
$868,504.00        1
$1,906,440.00      1
$24,000,000.00     1
$6,887,488.00      1
$1,242,086.00      1
$1,302,540.00      1
$903,456.00        1
$957,908.00        1
$2,319,013.00      1
$2,251,800.00      1
$26,658,362.00     1
$24,812,936.00     1
Name: AVG. SALARY, Length: 341, dtype: int64, 2018    208
2019    151
2020    114
2021     61
2017     16
2022      5
2023      3
0         2
Name: FREE AGENT, dtype: int64]

In [40]:
# RENAME % GTD, AVG. SALARY and FREE AGENT to cleaner format
rename = {'% GTD':'PERCENT_GTD', 
          'AVG. SALARY':'AVG_SALARY',
          'FREE AGENT':'FREE_AGENT'}

df = df.rename(columns = rename)
print(df.columns)
# DOLLARS, GUARANTEED, %_GTD,  is type object(str) need to change to type int
# First examine each
print(df.DOLLARS.head())
print(df.GUARANTEED.head())
print(df.PERCENT_GTD.head())

Index(['PLAYER', 'POS', 'TEAM', 'AGE', 'YRS', 'DOLLARS', 'GUARANTEED',
       'PERCENT_GTD', 'AVG_SALARY', 'FREE_AGENT'],
      dtype='object')
0    $205,030,000.00
1    $201,158,790.00
2    $171,174,820.00
3    $169,344,000.00
4    $169,344,000.00
Name: DOLLARS, dtype: object
0    $205,030,000.00
1    $201,158,790.00
2    $171,174,820.00
3    $169,344,000.00
4    $169,344,000.00
Name: GUARANTEED, dtype: object
0    100.00%
1    100.00%
2    100.00%
3    100.00%
4    100.00%
Name: PERCENT_GTD, dtype: object

In [41]:
# DOLLARS from STRING to INT
df.DOLLARS = df.DOLLARS.str.replace('$', '')
df.DOLLARS = df.DOLLARS.str.replace(',', '')
df.DOLLARS = pd.to_numeric(df.DOLLARS)
df.DOLLARS.head()
# GUARENTEED from STRING TO INT
df.GUARANTEED = df.GUARANTEED.str.replace('$', '')
df.GUARANTEED = df.GUARANTEED.str.replace(',', '')
df.GUARANTEED = pd.to_numeric(df.GUARANTEED, errors='coerce')
df.GUARANTEED.head()
# PERCENT_GTD from STRING TO INT
df.PERCENT_GTD = df.PERCENT_GTD.str.replace('%', '')
df.PERCENT_GTD = pd.to_numeric(df.PERCENT_GTD, errors='coerce')

In [42]:
# Determine year the contract was signed
df.year_signed = df.FREE_AGENT - df.YRS
print(df.year_signed.head())
# Note some years are in the future (2018, 2019) due to contract extension
# For these  the cap is currently unknown so we will have to extrapolate
print(df.year_signed.max())
# Need to extrapolate cap up to 2021

0    2018
1    2017
2    2017
3    2019
4    2019
dtype: int64
2021

In [43]:
# Bring in Salary Cap by Year data
cap_by_year = 'NBA_cap_by_year.csv'
df_cap = pd.read_csv(cap_by_year)
print(df_cap.head(), df_cap.info())

# Clean df_cap column names to match other dataframes
rename = {'Year':'YEAR',
          'Cap': 'CAP'}
df_cap = df_cap.rename(columns = rename)
      
# Clean YEAR column to 1st year 
# Contracts are signed is based off the start of the season cap
df_cap.YEAR = df_cap.YEAR.str.replace('-\d\d', '')

# Clean CAP from object to float
df_cap.CAP = df_cap.CAP.str.replace('$', '')
df_cap.CAP = df_cap.CAP.str.replace(',', '')
df_cap.CAP = pd.to_numeric(df_cap.CAP)
print(df_cap.head(), df_cap.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 2 columns):
Year    40 non-null object
Cap     40 non-null object
dtypes: object(2)
memory usage: 720.0+ bytes
      Year            Cap
0  1984-85  $3,600,000.00
1  1985-86  $4,233,000.00
2  1986-87  $4,945,000.00
3  1987-88  $6,164,000.00
4  1988-89  $7,232,000.00 None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 2 columns):
YEAR    40 non-null object
CAP     40 non-null float64
dtypes: float64(1), object(1)
memory usage: 720.0+ bytes
   YEAR        CAP
0  1984  3600000.0
1  1985  4233000.0
2  1986  4945000.0
3  1987  6164000.0
4  1988  7232000.0 None

In [64]:
# Calculate for each player their current contract as a % of the cap space the year it was signed
df.SALARY_PERCENT_OF_CAP = [df.DOLLARS[i] / df_cap.loc[df_cap.YEAR == df.year_signed[i], 'CAP'] for i in df.index]
print(df.head())

NameError: name 'i' is not defined